# ignore pycache
__pycache__
*.pyc

# ignore .DS_Store
lib/.DS_Store
lib/python3.8/.DS_Store
lib/python3.8/site-packages/.DS_Store


# ignore txt file
log.txt

.vscode

# ignore lib
lib

# ignore workspace
workspace